* {
    background-color: #282A2E;
}
element-text {
    text-color: #E65740;
    border: 0;
}
element selected {
    background-color: #E65740;
    text-color: #282A2E;
}
entry {
    text-color: #E65740;
}
